[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pytest = "*"
pybind11 = "*"
sqlalchemy = "*"
pymysql = "*"
pytest-cov = "*"
python-multipart = "*"
scipy = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"

[scripts]
app = "uvicorn main:app --reload"
install = 'bash -c "rm -rf build && sync && pip install . && python3 -m uvicorn main:app --reload"'
test = 'pytest --cov-report html --cov=src tests'
